%body
    -# Navigation labels
    .home_content{:style => "color: black; margin: auto;width: 100%;padding: 10px;"}
        
        .card#card_select{:style => "color: black;margin: auto;padding: 10px;width: 90%; height: 100%;"}
            .card-body    
                %h4
                    "EHui-Smart Elderly Comprehensive Service Financial Cloud Platform" Business Proposal
                    %button.btn.btn-outline-dark.btn-sm{:type => "button", :onclick => "location.href='https://drive.google.com/file/d/11sDKcS2DBnsXDzKh5-FoxEEr11_67cjg/view?usp=sharing'", :target => "_blank", :style => 'z-index: 2;position: relative;' }
                        %svg.bi.bi-google{:fill => "currentColor", :height => "16", :viewbox => "0 0 16 16", :width => "16", :xmlns => "http://www.w3.org/2000/svg"}
                            %path{:d => "M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"}
                %p
                    While technology brings infinite convenience to the world, it increases the burden on the elderly. For this reason, it should be the common pursuit of all financial institutions and even the whole industry to allow the elderly to enjoy the convenience brought by technological progress, and to join the young people on the express train of technology.
                    While developing science and technology, we will promote the popularization of smart devices among the elderly, help them integrate into the information society, enhance their sense of gain, and allow more and more elderly people to overcome the "digital divide" and share the results of informatization development in the financial industry with young people. , providing financial services with higher satisfaction is an important way to help people achieve a better life. 
                    To this end, this product relies on the advantages of ICBC and is designed according to the principle of "suitable for aging", providing a simple and clear mobile client operation interface for the elderly. At the same time, it provides the elderly with personalized, rich, reliable, comprehensive and profitable financial and life services through technologies such as big data (algorithms). By tailoring exclusive wealth products for the elderly, this platform not only brings benefits to ICBC, but also lowers the threshold for wealth management of such customer groups, so as to benefit the elderly customers and promote common prosperity.
                    %br
                    %br
                    This project aims to benefit elderly users and expand business demands on the senior-care service market through precise
                    segmented marketing and customized advertisement featuring an elderly-friendly design on user interface and machine
                    learning methodology to study patterns of user segmentation based on their age, salary, residence, etc.

                    
                    This proposal is eventually qualified to proceed through the city and provincial bank candidacy, nominated to the national level competition.
                    
        .row.row-cols-1.row-cols-md-1.g-4{:style => "width: 80%; position: relative;margin: auto;"}
            .col-sm-3.mb-4
                .card.h-100{:style => "width: 100%; position: relative;"}
                    %a{:href => "https://i.postimg.cc/VmZDBV70/123.png", :style=>"text-decoration: none;color: inherit;outline: 0;", :target => "_blank", :title => "View full image", :alt => "View full image"}
                        %img.card-img-top{:alt => "EEG", :src => "https://i.postimg.cc/VmZDBV70/123.png", :style => "width: 100%;object-fit: cover;"}
                    .card-body
                        %h5.card-title Business Model
                        %span.badge.rounded-pill.bg-success Individual Role
                        %br
                        %br            
                        %p
                            The base of the elderly population in China translates to a trillion-level industrial market.
                            There are shortcomings in the layout of the traditional financial market for the elderly group, and existing financial products and services do not
                            provide optimal user experience for elderly users. In addition, part-time scams, phishing scams, and financial credit scams are emerging in an endless stream.
                            with the rapid development of big data, artificial intelligence, cloud computing, 5G and other technologies, 
                            banks in the future will inevitably be more intelligent, open, and flexible, and deeply integrated with customer scenarios.
                            Therefore, the Industrial and Commercial Bank of China can develop the
                            Combining machines with machines to build a complete financial ecosystem for the elderly
                            in order to develop new business models in the industry full of potential.
                            %br
                            %br 
                            The bank relies on a database of older users with key characteristics such as income, urban/rural residence differences, age group, etc., combined with the consumption structure of the user in the database to segment the customers.
                            Its database is capable of classifying and filtering the customers into training, validation and test sets, which are then trained by the deep convolutional neural network in the deep learning model.
                            The deep learning model is trained by a deep convolutional neural network to learn how users are segmented according to their data characteristics.
                            After adjusting the hyperparameters, the pre-training model will cross-validate the predicted classification results with the validation set and back-propagate to adjust the weights of the neurons at each level to reach the lowest loss to converge with the actual training samples.
                            The model is designed to continuously fit the actual classification of the training set. Under ideal parameters, the neural network model's
                            results of the regression coefficients and the residual analysis are all within the ideal or reasonable range.
                            Once the model has been evaluated with these indicators in a more satisfactory
                            it can then be fine-tuned by retraining the original data to improve the accuracy and compatability with fresh user data.
                            %br
                            %br
                            When the ML model can successfully classify user characteristics for segmentation purpose, then the bank can build an algorithm to recommend suitable financial composite products to new users. In this way, their demands in terms of investment, savings and consumptions can be combined with 
                            their real-life financial and other conditions, can be met with customised products being advertised. After subdividing elderly users, they can launch corresponding savings, consumption and investment needs and habits that meet their needs according to each subdivision structure. Financial solutions (including but not limited to asset allocation suggestions, screened insurance products, wealth management products, etc., as well as financial product configuration packages customized for users after statistics and analysis), help banks achieve precision marketing and help customers efficiently Find financial products that meet your needs and achieve effective and safe asset appreciation.
                            In addition, customers can also obtain corresponding coupons under the scenarios of ICBC's credit level, deposit limit, and points, and reduce or deduct transaction fees accordingly, so as to reduce the outflow of users with wealth management needs to other investments. platform.

                            

            .col-sm-3.mb-4
                .card.h-100{:style => "width: 100%; position: relative; "}
                    %a{:href => "https://i.postimg.cc/jsgj02Hj/All-views.jpg", :style=>"text-decoration: none;color: inherit;outline: 0;", :target => "_blank", :title => "View full image", :alt => "View full image"}
                        %img.card-img-top{:alt => "Restaurant image", :src => "https://i.postimg.cc/jsgj02Hj/All-views.jpg", :style => "width: 100%;object-fit: cover;"}/
                    .card-body
                        %h5.card-title App interface designed for elderly
                        %span.badge.rounded-pill.bg-success Individual Role
                        %br
                        %br            
                        %p
                            On the whole, existing aging-friendly apps do not really take into account the needs of the elderly, but apply more of a simple "font enlargement” for their elderly mode. Existing problems such as the unchanged second pages and menus, hidden entries, complicated interactions, and the immense amount of ads led those old-fashioned APPs on the market not able to well meet the needs of the elderly.
                            %br
                            %br
                            As a result, this product focuses on the core concept of serving elderly users. At the beginning of the design, it focused on enriching functions, in a concise and clear way, including large fonts, large icons, high contrast, simple functions, no ads and no bullets. A large number of one-key operations, one-key call/help, video explanation, text input prompts and other accessibility functions are optimized for the page and operation logic. Its operation logic and screen interaction design are adaptable and friendly to elderly users.
                            %br
                            %br
                            This product displays more functions clearly and concisely under the same menu as much as possible by reducing the frequency of menus above the secondary level in the operation logic. The first-level menu is an intuitive display of common functions for all elderly users, and users can move, shrink, and zoom in at this level. The focused icon in the center of the screen and the icon in the shape of a "one" around it will display the name of the function, and the rest of the icons will be presented in a smaller and smaller size. This product uses zooming as the operation mode for entering/exiting the page. Zooming in or clicking on any icon will gradually enter the secondary menu of the application or function, and the icons listed are the basic operation options of the function. The progressive presentation of animation between picture transitions can theoretically prevent the elderly from reducing cognitive overload caused by mental processing speed.
                            The product interface in default is adapted to larger-sized icons and corresponding font size and thickness. Elderly users can adjust them in the settings according to their own conditions. Due to the weakening of the elderly's visual, auditory, learning and operating abilities, and memory, this product not only emphasizes the adaptation and optimization of the above aspects for elderly users, but also adds vibration feedback for tactile stimulation. All icons feature clean designs in large, high-contrast colorways. The font is in large and in unlined boldface. Due to the design with fewer menu levels, the navigation bar is relatively simple, and in most scenarios, there are buttons for "return to the main menu" and "return to the previous level".
                            %br
                            %br
                            In the main sub-menu, when elderly users have questions about the operation, this product has designed a clear and clear help guide. A clear "Help" icon button is set in the upper right corner of the main and secondary interfaces. Click to provide "Dynamic Demonstration Guidance" and "Remote Assistance". Among them, the "Dynamic Demonstration Guide" is the direct animation/video demonstration of each basic operation, including the operation guide and description of the interaction logic and detailed steps of each function. In the "remote assistance" option, you can choose to use the supporting APP to assist relatives or the bank's professional customer service staff to access and operate information or scenarios that do not involve personal privacy and the bank with the user's consent.

            .col-sm-3.mb-4
                .card.h-100{:style => "width: 100%; position: relative; "}
                    .card-body
                        %h5.card-title Client-side banking features
                        %span.badge.rounded-pill.bg-success Team Role
                        %br
                        %br            
                        %p
                            Online special financial management service (online investment advisory service, "cloud financial management manager")
                            provides customers with intuitive, personalized and professional risk analysis results and online financial advice by analyzing data and outputting a visual interface, which allows online	business outlets communication channels, especially experts (“cloud wealth management managers”) to
                            connect with each business outlet through the platform, real-time voice and video technology, and set up virtual windows. In the form of real-name system, real-time communication with customers can be made on the platform by appointment or response at any time, so that customers can enjoy financial consulting services and compare various financial products online without leaving home.
                            %br
                            %br  
                            Information	display and communication mode that
                            establishs quantitative indicators, such as customer complaint rate, areas of expertise, etc., and constructs a classification system for wealth management managers based on quantitative indicators to present comprehensive information to customers.
                            In addition, trace system implementing network and information storage technology to securely store data such as the contact time of customers and bank staff, triggered operation buttons, chat records, etc., to avoid unnecessary disputes. At the same time, it avoids the shortcomings of online communication, that is, the customer does not immediately verify the identity in the physical business network environment with cameras, and the bank can also bring higher security to the cooperation between the customer and the bank according to advanced technical means.
                            %br
                            %br
                            In the real scenario of banking business, there are many customers, especially elderly customers, who actually would reach to the business hall to inquire issues. In view of the fact that the information collection ability of the elderly group is weaker than that of younger clients, especially the ability to retrieve information on the Internet is weaker, in order to reduce unnecessary trouble, the platform has set up a help button to link various business outlets, so that elderly users can directly enquire the local business outlets. For an instance, contacting bank staff such as lobby managers, lobby guides, product managers and other bank staff at any time to help solve questions about software use or other business needs (such as bank reservation information modification inquiries, bank card business consultation, loan business consultation, etc.).

            .col-sm-3.mb-4
                .card.h-100{:style => "width: 100%; position: relative;"}
                    .card-body
                        %h5.card-title Living services for elderly  users
                        %span.badge.rounded-pill.bg-success Team Role
                        %br
                        %br            
                        %p
                            Convenience and shopping section which the platform can undertake a variety of third-party businesses, such as links to gas companies, water companies, etc., so that the elderly can handle petty cash deposits and withdrawals, water and electricity without leaving the village Payment services such as bills, telephone bills, medical insurance, etc.
                            Moreover, this area can also undertake the function of releasing information related to various local communities or ICBC, and act as a notice board and a publicity board. Such as the release of water and power outages, construction notices, free clinics and other information. Additional features including publishing the content of various activities and provide an appointment function, and will organize and push community group activities that meet the interests or needs of the elderly from time to time, so as to improve the social participation of the elderly.
                            The Consignment Sales Area that provides a service area for consignment sales of traditional financial products. In this area, various financial products can be purchased. It is mainly aimed at seniors with rich experience and knowledge of financial product investment. This assists senior investors make rational investment decisions through richer, more intuitive and scientific visual analysis results and information briefings.
                            %br
                            %br
                            The App also provides Anti-fraud Zone and Wealth Management Zone which firstly publishes brochures/pages, videos, etc., to strengthen anti-fraud publicity, and at the same time For those who may encounter telecommunications fraud, stop them in time and notify them in a pop-up window and also publishing or reprinting various financial knowledge and tips through video, audio, text and other forms, without violating relevant intellectual property laws, to help the elderly improve their financial awareness and increase financial Knowledge.

            .col-sm-3.mb-4
                .card.h-100{:style => "width: 100%; position: relative; "}
                    .card-body
                        %h5.card-title Profit model
                        %span.badge.rounded-pill.bg-success Team Role
                        %br
                        %br
                        %p
                            This product attracts customers to choose ICBC for its financial and related services because of its practicability, profitability and comprehensiveness. This product has broad profit channels, and can obtain various kinds of reasonable, reliable and sustainable income. It is expected to bring considerable income to ICBC, realize a diversified income structure, and improve ICBC's economic benefits.
                            %br
                            %br
                            1. Increase in customer savings and accumulation of personal deposits - 
                            This product will take in more elderly users with its practicability, profitability and comprehensiveness, which would in general attract more customers to ICBC, and absorb a large amount of deposits. The increase in the number of customers will greatly increase the deposits of customers in ICBC, which will bring significant economic benefits to ICBC.
                            In addition, in the convenience and shopping area, through access to external merchants (such as healthcare companies, fruit and vegetable stores, daily necessities stores, housekeeping companies, etc. that have a good cooperative relationship with the bank after strict review by them), customers can conduct business operations in this area. Consumption and purchase of high-quality services and products whose quality is better than the general level of the market and whose prices are lower than the general level of the market. This business helps to absorb customers' funds from Alipay, WeChat and other banks, and the recharge and transfer of this part of funds will help customers to deposit the funds for their personal savings into the bank.
                            %br
                            %br
                            2. Increase in card issuance - This product attracts the elderly due to its convenience, profitability and comprehensiveness. It is expected to add a large number of new customers to ICBC, increase the issuance of savings cards and even credit cards, and customers will choose ICBC for  payment transaction and settlement. Simultaneously, the increase in the number of cards issued will also raise the income of ICBC account management fee, card fee, credit card interest, etc.
                            Moreover, this product would increases the willingness of users to purchase wealth management products, transactions, payment and settlement through ICBC, which will not only increase the personal customers' interest in ICBC Savings deposits, frequent transactions will also promote the increase in business deposits.

                            %br
                            %br
                            3. Revenue from retail and intermediary business - This product analyzes user-related data through information technology, which benefits ICBC to carry out precise marketing and user management for customers, and assists customers to achieve reasonable asset allocation. By pushing relevant financial services and products, including but not limited to bank-owned wealth management products, fund agency sales, agency sales of other wealth management products, and insurance agency sales (including but not limited to medical insurance, critical illness insurance, commercial pension insurance, property insurance, accident insurance, etc.) and other financial products to promote the growth of ICBC's intermediary business income.
                            %br
                            %br
