%body
    -# Navigation labels
    .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
        %header.masthead.mb-auto
            .inner
            %nav.nav.nav-masthead.justify-content-center
                %a.nav-link.home{:href => "/projects", :style => "color: white;"} Personal Projects
                %a.nav-link.home{:href => "/resume", :style => "color: white;"} Resume
                %a.nav-link.home{:href => "https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAa__bS_9ENUOFZHOTQwUkszM0lCUTMxVlhMMTlNT1RBTy4u", :target => "_blank", :style => "color: white;"} Contact
    
    -# Home page content
    .home_content{:style => "color: black; margin: auto;width: 100%;padding: 10px;"}
        .parent{:style => "float: left; width: 100%; height: 100%;"}
            .child-float-left-child{:style => "float: left; margin-left: 2%; width: 26%; height: 100%; position: fixed;"}
                .card
                    .card-body
                        %h4
                            %b Zijian Liang 
                            %i.bi.bi-person-circle
                        %br
                        %img{:align => "right", :alt => "Profile Picture", :height => "220", :src => "https://media-exp1.licdn.com/dms/image/C5603AQH-WEgpAS_2Og/profile-displayphoto-shrink_800_800/0/1653577228096?e=1659571200&v=beta&t=SO3vnZP6kPkPiI0V5WXwAkwl3yXI5O2io56jO7sxr2Q", :style => " border-radius: 50%;"}
                        
                        %h5
                            Resume
                            %br
                                %p
                                    University of Surrey (2019-2022)
                                    %button{:style => "padding: 0;border: none;background: none;", :onclick => "location.href='https://www.surrey.ac.uk/'", :type => "button", :target => "_blank"}
                                        %img{:alt => "*", :src => "https://cdn.worldvectorlogo.com/logos/university-of-surrey.svg", :width => "40px", :height => "40px", :border => "0"}
                                %p    
                                    Course: Computer Science (BSc Hons)
                                %p
                                    Classification:
                                    First Class (Expected)
                                %p
                                    Modules Included: Software Engineering Project, Data Structure and Algorithm, Internet of Things, Web and Database
                                    System, Artificial Intelligence, Natural Language Processing, etc.
                                %p
                                    Skills: Python, Java, Ruby, Rails, Tableau, Office, Adobe PS, PR, etc.
                                %p
                                    Content Creator (Owner) of a 20K Subscriber Channel on a Chinese video platform Bilibili
                                    %svg{:style => "color: rgb(255, 148, 221);", :viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg", :width => "15px", :height => "15px", :onclick => "location.href='https://space.bilibili.com/354398670?spm_id_from=333.1007.0.0'", :type => "button"}
                                        / ! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc.
                                        %path{:d => "M488.6 104.1C505.3 122.2 513 143.8 511.9 169.8V372.2C511.5 398.6 502.7 420.3 485.4 437.3C468.2 454.3 446.3 463.2 419.9 464H92.02C65.57 463.2 43.81 454.2 26.74 436.8C9.682 419.4 .7667 396.5 0 368.2V169.8C.7667 143.8 9.682 122.2 26.74 104.1C43.81 87.75 65.57 78.77 92.02 78H121.4L96.05 52.19C90.3 46.46 87.42 39.19 87.42 30.4C87.42 21.6 90.3 14.34 96.05 8.603C101.8 2.868 109.1 0 117.9 0C126.7 0 134 2.868 139.8 8.603L213.1 78H301.1L375.6 8.603C381.7 2.868 389.2 0 398 0C406.8 0 414.1 2.868 419.9 8.603C425.6 14.34 428.5 21.6 428.5 30.4C428.5 39.19 425.6 46.46 419.9 52.19L394.6 78L423.9 78C450.3 78.77 471.9 87.75 488.6 104.1H488.6zM449.8 173.8C449.4 164.2 446.1 156.4 439.1 150.3C433.9 144.2 425.1 140.9 416.4 140.5H96.05C86.46 140.9 78.6 144.2 72.47 150.3C66.33 156.4 63.07 164.2 62.69 173.8V368.2C62.69 377.4 65.95 385.2 72.47 391.7C78.99 398.2 86.85 401.5 96.05 401.5H416.4C425.6 401.5 433.4 398.2 439.7 391.7C446 385.2 449.4 377.4 449.8 368.2L449.8 173.8zM185.5 216.5C191.8 222.8 195.2 230.6 195.6 239.7V273C195.2 282.2 191.9 289.9 185.8 296.2C179.6 302.5 171.8 305.7 162.2 305.7C152.6 305.7 144.7 302.5 138.6 296.2C132.5 289.9 129.2 282.2 128.8 273V239.7C129.2 230.6 132.6 222.8 138.9 216.5C145.2 210.2 152.1 206.9 162.2 206.5C171.4 206.9 179.2 210.2 185.5 216.5H185.5zM377 216.5C383.3 222.8 386.7 230.6 387.1 239.7V273C386.7 282.2 383.4 289.9 377.3 296.2C371.2 302.5 363.3 305.7 353.7 305.7C344.1 305.7 336.3 302.5 330.1 296.2C323.1 289.9 320.7 282.2 320.4 273V239.7C320.7 230.6 324.1 222.8 330.4 216.5C336.7 210.2 344.5 206.9 353.7 206.5C362.9 206.9 370.7 210.2 377 216.5H377z", :fill => "#ff94dd"}
                                    (11.8M views, 390K likes)
                        .card.text-white.bg-dark{:style => "margin: auto;"}
                            .card-body
                                %nav.nav.nav-masthead.justify-content-center
                                    %a.nav-link.home{:alt => "Send E-mail to me", "data-toggle" => "tooltip", :href => "mailto: zl1104777236@gmail.com", :style => "color: white;", :title => "Send E-mail to me"}
                                        %i.bi.bi-envelope-fill
                                    %a.nav-link.home{:alt => "Github", "data-toggle" => "tooltip", :href => "https://github.com/ZijianLiang2000?tab=repositories", :style => "color: white;", :title => "Github"}
                                        %i.bi.bi-github
                                    %a.nav-link.home{:alt => "View my Linkedin page", "data-toggle" => "tooltip", :href => "https://www.linkedin.com/in/zijian-liang-16b0b01b3/", :style => "color: white;", :target => "_blank", :title => "View my Linkedin page"}
                                        %i.bi.bi-linkedin
                                    %a.nav-link.home{:alt => "View my Bilibili account", "data-toggle" => "tooltip", :href => "https://space.bilibili.com/354398670?spm_id_from=333.1007.0.0", :style => "color: white;", :target => "_blank", :title => "View my Bilibili account"}
                                        %svg{:height => "22px", :style => "color: white", :viewbox => "0 0 512 512", :width => "22px", :xmlns => "http://www.w3.org/2000/svg"}
                                            / ! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc.
                                            %path{:d => "M488.6 104.1C505.3 122.2 513 143.8 511.9 169.8V372.2C511.5 398.6 502.7 420.3 485.4 437.3C468.2 454.3 446.3 463.2 419.9 464H92.02C65.57 463.2 43.81 454.2 26.74 436.8C9.682 419.4 .7667 396.5 0 368.2V169.8C.7667 143.8 9.682 122.2 26.74 104.1C43.81 87.75 65.57 78.77 92.02 78H121.4L96.05 52.19C90.3 46.46 87.42 39.19 87.42 30.4C87.42 21.6 90.3 14.34 96.05 8.603C101.8 2.868 109.1 0 117.9 0C126.7 0 134 2.868 139.8 8.603L213.1 78H301.1L375.6 8.603C381.7 2.868 389.2 0 398 0C406.8 0 414.1 2.868 419.9 8.603C425.6 14.34 428.5 21.6 428.5 30.4C428.5 39.19 425.6 46.46 419.9 52.19L394.6 78L423.9 78C450.3 78.77 471.9 87.75 488.6 104.1H488.6zM449.8 173.8C449.4 164.2 446.1 156.4 439.1 150.3C433.9 144.2 425.1 140.9 416.4 140.5H96.05C86.46 140.9 78.6 144.2 72.47 150.3C66.33 156.4 63.07 164.2 62.69 173.8V368.2C62.69 377.4 65.95 385.2 72.47 391.7C78.99 398.2 86.85 401.5 96.05 401.5H416.4C425.6 401.5 433.4 398.2 439.7 391.7C446 385.2 449.4 377.4 449.8 368.2L449.8 173.8zM185.5 216.5C191.8 222.8 195.2 230.6 195.6 239.7V273C195.2 282.2 191.9 289.9 185.8 296.2C179.6 302.5 171.8 305.7 162.2 305.7C152.6 305.7 144.7 302.5 138.6 296.2C132.5 289.9 129.2 282.2 128.8 273V239.7C129.2 230.6 132.6 222.8 138.9 216.5C145.2 210.2 152.1 206.9 162.2 206.5C171.4 206.9 179.2 210.2 185.5 216.5H185.5zM377 216.5C383.3 222.8 386.7 230.6 387.1 239.7V273C386.7 282.2 383.4 289.9 377.3 296.2C371.2 302.5 363.3 305.7 353.7 305.7C344.1 305.7 336.3 302.5 330.1 296.2C323.1 289.9 320.7 282.2 320.4 273V239.7C320.7 230.6 324.1 222.8 330.4 216.5C336.7 210.2 344.5 206.9 353.7 206.5C362.9 206.9 370.7 210.2 377 216.5H377z", :fill => "white"}
            
            .child-float-left-child{:style => "float: left; margin-left: 20%; height: 100%;"}
                .card#card_select{:style => "color: black;margin: auto;padding: 10px;width: 70%; height: 100%;"}
                    .card-body    
                        .child-float-left-child{:style => "float: left; width: 100%; height: 100%;"}
                            .card
                                .card-body
                                    %h5 Projects
                                    .row.row-cols-1.row-cols-md-2.g-4
                                        .col-sm-3.mb-4
                                            .card.h-100{:style => "width: 100%; position: relative;"}
                                                %img.card-img-top{:alt => "Restaurant image", :src => "https://i.postimg.cc/28TGBPjr/LAD-map.png", :style => "width: 100%;height: 15vw;object-fit: cover;"}
                                                .card-body
                                                    %h5.card-title
                                                        LORECO
                                                        -# Button to github
                                                        %button.btn.btn-outline-dark.btn-sm{:type => "button", :onclick => "location.href='https://github.com/ZijianLiang2000/COM3001_FinalYearProject'", :target => "_blank", :style => 'z-index: 2;position: relative;' }
                                                            %i.bi.bi-github
                                                    %p Restaurant Location Recommendation System for England and Wales
                                                    %span.badge.rounded-pill.bg-success Personal Dissertation
                                                    %br
                                                    %br
                                                    %a.btn.btn-primary.stretched-link{:href => "loreco"} View
                                        .col-sm-3.mb-4
                                            .card.h-100{:style => "width: 100%; position: relative; "}
                                                %img.card-img-top{:alt => "Restaurant image", :src => "https://img.freepik.com/free-photo/closeup-support-hands_53876-20502.jpg?t=st=1653943467~exp=1653944067~hmac=80b31e13c122e7ba1f963b306eaf46d3f547e125162f9ceab15bcd3de1593dbc&w=1380", :style => "width: 100%;height: 15vw;object-fit: cover;"}/
                                                .card-body
                                                    %h5.card-title "EHui-Smart Elderly Comprehensive Service Financial Cloud Platform" Business Proposal
                                                    %span.badge.rounded-pill.bg-success Team Contest Project
                                                    %br
                                                    %br
                                                    %a.btn.btn-primary.stretched-link{:href => "contest_project"} View
                                    .row.row-cols-1.row-cols-md-3.g-4
                                        .col-sm-3.mb-4
                                            .card.h-100{:style => "width: 100%; position: relative;"}
                                                %img.card-img-top{:alt => "Restaurant image", :src => "https://i.postimg.cc/1XKwGQyP/topo-3.gif", :style => "width: 100%;height: 15vw;object-fit: cover;"}/
                                                .card-body
                                                    %h5.card-title Classification on EEG Movement Imagery
                                                    %span.badge.rounded-pill.bg-success Team Coursework Project
                                                    %br
                                                    %br
                                                    %a.btn.btn-primary.stretched-link{:href => "eeg"} View
                                        .col-sm-3.mb-4
                                            .card.h-100{:style => "width: 100%; position: relative; "}
                                                -# Image referenced from: https://www.freepik.com/free-vector/dialog-with-chatbot-artificial-intelligence-reply-question-tech-support-instant-messaging-hotline-operator-ai-assistant-client-bot-consultant-vector-isolated-concept-metaphor-illustration_11668333.htm#query=chatbot&position=4&from_view=search
                                                %img.card-img-top{:alt => "Restaurant image", :src => "https://img.freepik.com/free-vector/dialog-with-chatbot-artificial-intelligence-reply-question-tech-support-instant-messaging-hotline-operator-ai-assistant-client-bot-consultant-vector-isolated-concept-metaphor-illustration_335657-1995.jpg?t=st=1653941705~exp=1653942305~hmac=e793dd06753c98c3781c2b7c0e7246978ce69e288fcaf2d0db048e5219684c9c&w=900", :style => "width: 100%;height: 15vw;object-fit: cover;"}/
                                                .card-body
                                                    %h5.card-title NLP Chatbot for Airline Travel Bookings
                                                    %span.badge.rounded-pill.bg-success Team Coursework Project
                                                    %br
                                                    %br
                                                    %a.btn.btn-primary.stretched-link{:href => "chatbot"} View

                                        .col-sm-3.mb-4
                                            .card.h-100{:style => "width: 100%; position: relative; "}
                                                -# Referenced from: https://www.freepik.com/free-photo/sports-equipment-around-apple-energy-bar_1657600.htm#page=3&query=fitness&position=3&from_view=search
                                                %img.card-img-top{:alt => "Restaurant image", :src => "https://img.freepik.com/free-photo/sports-equipment-around-apple-energy-bar_23-2147750784.jpg?t=st=1653942434~exp=1653943034~hmac=e0ff8613060c4c0d1f76d633b6050d1c4f3c1182916a4efd847e87c3c52c6259&w=1380", :style => "width: 100%;height: 15vw;object-fit: cover;"}/
                                                .card-body
                                                    %h5.card-title
                                                        Health Fitness Application
                                                        %button.btn.btn-outline-dark.btn-sm{:type => "button", :onclick => "location.href='https://github.com/sian-burch/HealthApplication'", :target => "_blank", :style => 'z-index: 2;position: relative;'}
                                                            %i.bi.bi-github
                                                    %span.badge.rounded-pill.bg-success Team Coursework Project
                                                    %br
                                                    %br
                                                    %a.btn.btn-primary.stretched-link{:href => "fitness_app"} View




%p{:style => "color: white; margin: auto;width: 100%;padding: 10px;"}
    %a{:target => "_blank", :href => "https://www.freepik.com/free-photo/sports-equipment-around-apple-energy-bar_1657600.htm#page=3&query=fitness&position=3&from_view=search"} The cover image used in "Health Fitness Application" is created by @freepik
    %br
    %a{:target => "_blank", :href => "https://www.freepik.com/free-vector/dialog-with-chatbot-artificial-intelligence-reply-question-tech-support-instant-messaging-hotline-operator-ai-assistant-client-bot-consultant-vector-isolated-concept-metaphor-illustration_11668333.htm#query=chatbot&position=4&from_view=search"} The cover image used in "NLP Chatbot for Airline Travel Bookings" is created by @vectorjuice
    %br
    %a{:target => "_blank", :href => "https://www.freepik.com/free-photo/closeup-support-hands_2825706.htm#query=elderly&position=1&from_view=search"} The cover image used in "EHui-Smart Elderly Comprehensive Service Financial Cloud Platform Business Proposal" is created by @freepik
    