%body
    -# Navigation labels
    .home_content{:style => "color: black; margin: auto;width: 100%;padding: 10px;"}
        .card#card_select{:style => "color: black;margin: auto;padding: 10px;width: 90%; height: 100%;"}
            .card-body    
                %h4 Projects
                .child-float-left-child{:style => "float: left; width: 100%; height: 100%;"}
                    .row.row-cols-1.row-cols-md-2.g-4
                        .col-sm-3.mb-4
                            .card.h-100{:style => "width: 100%; position: relative;"}
                                %img.card-img-top{:alt => "Restaurant image", :src => "https://i.postimg.cc/28TGBPjr/LAD-map.png", :style => "width: 100%;height: 15vw;object-fit: cover;"}
                                .card-body
                                    %h5.card-title
                                        LORECO
                                        -# Button to github
                                        %button.btn.btn-outline-dark.btn-sm{:type => "button", :onclick => "location.href='https://github.com/ZijianLiang2000/COM3001_FinalYearProject'", :target => "_blank"}
                                            %svg{:fill => "currentColor", :height => "24", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                                                %path{:d => "M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"}9.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"}                                    
                                    %p Restaurant Location Recommendation System for England and Wales
                                    %span.badge.rounded-pill.bg-success Personal Dissertation
                                    %br
                                    %br
                                    %a.btn.btn-primary.stretched-link{:href => "loreco"} View
                        .col-sm-3.mb-4
                            .card.h-100{:style => "width: 100%; position: relative; "}
                                %img.card-img-top{:alt => "Restaurant image", :src => "https://img.freepik.com/free-photo/closeup-support-hands_53876-20502.jpg?t=st=1653943467~exp=1653944067~hmac=80b31e13c122e7ba1f963b306eaf46d3f547e125162f9ceab15bcd3de1593dbc&w=1380", :style => "width: 100%;height: 15vw;object-fit: cover;"}/
                                .card-body
                                    %h5.card-title 
                                        "EHui-Smart Elderly Comprehensive Service Financial Cloud Platform" Business Proposal
                                        %button.btn.btn-outline-dark.btn-sm{:type => "button", :onclick => "location.href='https://drive.google.com/file/d/11sDKcS2DBnsXDzKh5-FoxEEr11_67cjg/view?usp=sharing'", :target => "_blank", :style => 'z-index: 2;position: relative;' }
                                            %svg.bi.bi-google{:fill => "currentColor", :height => "16", :viewbox => "0 0 16 16", :width => "16", :xmlns => "http://www.w3.org/2000/svg"}
                                                %path{:d => "M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"}
                                    %span.badge.rounded-pill.bg-success Team Contest Project
                                    %br
                                    %br
                                    %a.btn.btn-primary.stretched-link{:href => "contest_project"} View
                    .row.row-cols-1.row-cols-md-3.g-4
                        .col-sm-3.mb-4
                            .card.h-100{:style => "width: 100%; position: relative;"}
                                %img.card-img-top{:alt => "Restaurant image", :src => "https://i.postimg.cc/1XKwGQyP/topo-3.gif", :style => "width: 100%;height: 15vw;object-fit: cover;"}/
                                .card-body
                                    %h5.card-title
                                        Classification on EEG Movement Imagery
                                        %button.btn.btn-outline-dark.btn-sm{:type => "button", :onclick => "location.href='https://github.com/ZijianLiang2000/AI_CW_PreProcess/tree/main'", :target => "_blank", :style => 'z-index: 2;position: relative;' }
                                            %svg{:fill => "currentColor", :height => "24", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                                                %path{:d => "M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"}                                    
                                    %span.badge.rounded-pill.bg-success Team Coursework Project
                                    %br
                                    %br
                                    %a.btn.btn-primary.stretched-link{:href => "eeg"} View
                        .col-sm-3.mb-4
                            .card.h-100{:style => "width: 100%; position: relative; "}
                                -# Image referenced from: https://www.freepik.com/free-vector/dialog-with-chatbot-artificial-intelligence-reply-question-tech-support-instant-messaging-hotline-operator-ai-assistant-client-bot-consultant-vector-isolated-concept-metaphor-illustration_11668333.htm#query=chatbot&position=4&from_view=search
                                %img.card-img-top{:alt => "Restaurant image", :src => "https://img.freepik.com/free-vector/dialog-with-chatbot-artificial-intelligence-reply-question-tech-support-instant-messaging-hotline-operator-ai-assistant-client-bot-consultant-vector-isolated-concept-metaphor-illustration_335657-1995.jpg?t=st=1653941705~exp=1653942305~hmac=e793dd06753c98c3781c2b7c0e7246978ce69e288fcaf2d0db048e5219684c9c&w=900", :style => "width: 100%;height: 15vw;object-fit: cover;"}/
                                .card-body
                                    %h5.card-title
                                        NLP Chatbot for Airline Travel Bookings
                                        %button.btn.btn-outline-dark.btn-sm{:type => "button", :onclick => "location.href='https://www.kaggle.com/code/brianleung2020/nlp-experiments-component-1/notebook'", :target => "_blank", :style => 'z-index: 2;position: relative;' }
                                            %svg{:fill => "currentColor", :height => "24", :viewbox => "0 0 24 24", :width => "24",:viewbox => "0 0 320 512", :xmlns => "http://www.w3.org/2000/svg"}
                                                / ! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc.
                                                %path{:d => "M304.2 501.5L158.4 320.3 298.2 185c2.6-2.7 1.7-10.5-5.3-10.5h-69.2c-3.5 0-7 1.8-10.5 5.3L80.9 313.5V7.5q0-7.5-7.5-7.5H21.5Q14 0 14 7.5v497q0 7.5 7.5 7.5h51.9q7.5 0 7.5-7.5v-109l30.8-29.3 110.5 140.6c3 3.5 6.5 5.3 10.5 5.3h66.9q5.25 0 6-3z"}
                                    %span.badge.rounded-pill.bg-success Team Coursework Project
                                    %br
                                    %br
                                    %a.btn.btn-primary.stretched-link{:href => "chatbot"} View

                        .col-sm-3.mb-4
                            .card.h-100{:style => "width: 100%; position: relative; "}
                                -# Referenced from: https://www.freepik.com/free-photo/sports-equipment-around-apple-energy-bar_1657600.htm#page=3&query=fitness&position=3&from_view=search
                                %img.card-img-top{:alt => "Restaurant image", :src => "https://img.freepik.com/free-photo/sports-equipment-around-apple-energy-bar_23-2147750784.jpg?t=st=1653942434~exp=1653943034~hmac=e0ff8613060c4c0d1f76d633b6050d1c4f3c1182916a4efd847e87c3c52c6259&w=1380", :style => "width: 100%;height: 15vw;object-fit: cover;"}/
                                .card-body
                                    %h5.card-title
                                        Health Fitness Application
                                        %button.btn.btn-outline-dark.btn-sm{:type => "button", :onclick => "location.href='https://github.com/sian-burch/HealthApplication'", :target => "_blank"}
                                            %svg{:fill => "currentColor", :height => "24", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                                                %path{:d => "M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"}9.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"}
                                    %span.badge.rounded-pill.bg-success Team Coursework Project
                                    %br
                                    %br
                                    %a.btn.btn-primary.stretched-link{:href => "fitness_app"} View

        %p{:style => "color: white; margin: auto;width: 100%;padding: 10px;"}
        %a{:target => "_blank", :href => "https://www.freepik.com/free-photo/sports-equipment-around-apple-energy-bar_1657600.htm#page=3&query=fitness&position=3&from_view=search"} The cover image used in "Health Fitness Application" is created by @freepik
        %br
        %a{:target => "_blank", :href => "https://www.freepik.com/free-vector/dialog-with-chatbot-artificial-intelligence-reply-question-tech-support-instant-messaging-hotline-operator-ai-assistant-client-bot-consultant-vector-isolated-concept-metaphor-illustration_11668333.htm#query=chatbot&position=4&from_view=search"} The cover image used in "NLP Chatbot for Airline Travel Bookings" is created by @vectorjuice
        %br
        %a{:target => "_blank", :href => "https://www.freepik.com/free-photo/closeup-support-hands_2825706.htm#query=elderly&position=1&from_view=search"} The cover image used in "EHui-Smart Elderly Comprehensive Service Financial Cloud Platform Business Proposal" is created by @freepik
    