%body
    -# Navigation labels
    .home_content{:style => "color: black; margin: auto;width: 100%;padding: 10px;"}
        .card#card_select{:style => "color: black;margin: auto;padding: 10px;width: 90%; height: 100%;"}
            .card-body    
                %h4 Projects
                .child-float-left-child{:style => "float: left; width: 100%; height: 100%;"}
                    .row.row-cols-1.row-cols-md-2.g-4
                        .col-sm-3.mb-4
                            .card.h-100{:style => "width: 100%; position: relative;"}
                                %img.card-img-top{:alt => "Restaurant image", :src => "https://i.postimg.cc/28TGBPjr/LAD-map.png", :style => "width: 100%;height: 15vw;object-fit: cover;"}
                                .card-body
                                    %h5.card-title
                                        LORECO
                                        -# Button to github
                                        %button.btn.btn-outline-dark.btn-sm{:type => "button", :onclick => "location.href='https://github.com/ZijianLiang2000/COM3001_FinalYearProject'", :target => "_blank"}
                                            %i.bi.bi-github
                                    %p Restaurant Location Recommendation System for England and Wales
                                    %span.badge.rounded-pill.bg-success Personal Dissertation
                                    %br
                                    %br
                                    %a.btn.btn-primary.stretched-link{:href => "loreco"} View
                        .col-sm-3.mb-4
                            .card.h-100{:style => "width: 100%; position: relative; "}
                                %img.card-img-top{:alt => "Restaurant image", :src => "https://img.freepik.com/free-photo/closeup-support-hands_53876-20502.jpg?t=st=1653943467~exp=1653944067~hmac=80b31e13c122e7ba1f963b306eaf46d3f547e125162f9ceab15bcd3de1593dbc&w=1380", :style => "width: 100%;height: 15vw;object-fit: cover;"}/
                                .card-body
                                    %h5.card-title 
                                        "EHui-Smart Elderly Comprehensive Service Financial Cloud Platform" Business Proposal
                                        %button.btn.btn-outline-dark.btn-sm{:type => "button", :onclick => "location.href='https://drive.google.com/file/d/11sDKcS2DBnsXDzKh5-FoxEEr11_67cjg/view?usp=sharing'", :target => "_blank", :style => 'z-index: 2;position: relative;' }
                                            %i.fab.fa-google-drive
                                    %span.badge.rounded-pill.bg-success Team Contest Project
                                    %br
                                    %br
                                    %a.btn.btn-primary.stretched-link{:href => "contest_project"} View
                    .row.row-cols-1.row-cols-md-3.g-4
                        .col-sm-3.mb-4
                            .card.h-100{:style => "width: 100%; position: relative;"}
                                %img.card-img-top{:alt => "Restaurant image", :src => "https://i.postimg.cc/1XKwGQyP/topo-3.gif", :style => "width: 100%;height: 15vw;object-fit: cover;"}/
                                .card-body
                                    %h5.card-title
                                        Classification on EEG Movement Imagery
                                        %button.btn.btn-outline-dark.btn-sm{:type => "button", :onclick => "location.href='https://github.com/ZijianLiang2000/AI_CW_PreProcess/tree/main'", :target => "_blank", :style => 'z-index: 2;position: relative;' }
                                            %i.bi.bi-github                                    
                                    %span.badge.rounded-pill.bg-success Team Coursework Project
                                    %br
                                    %br
                                    %a.btn.btn-primary.stretched-link{:href => "eeg"} View
                        .col-sm-3.mb-4
                            .card.h-100{:style => "width: 100%; position: relative; "}
                                -# Image referenced from: https://www.freepik.com/free-vector/dialog-with-chatbot-artificial-intelligence-reply-question-tech-support-instant-messaging-hotline-operator-ai-assistant-client-bot-consultant-vector-isolated-concept-metaphor-illustration_11668333.htm#query=chatbot&position=4&from_view=search
                                %img.card-img-top{:alt => "Restaurant image", :src => "https://img.freepik.com/free-vector/dialog-with-chatbot-artificial-intelligence-reply-question-tech-support-instant-messaging-hotline-operator-ai-assistant-client-bot-consultant-vector-isolated-concept-metaphor-illustration_335657-1995.jpg?t=st=1653941705~exp=1653942305~hmac=e793dd06753c98c3781c2b7c0e7246978ce69e288fcaf2d0db048e5219684c9c&w=900", :style => "width: 100%;height: 15vw;object-fit: cover;"}/
                                .card-body
                                    %h5.card-title
                                        NLP Chatbot for Airline Travel Bookings
                                        %button.btn.btn-outline-dark.btn-sm{:type => "button", :onclick => "location.href='https://www.kaggle.com/code/brianleung2020/nlp-experiments-component-1/notebook'", :target => "_blank", :style => 'z-index: 2;position: relative;' }
                                            %i.fab.fa-kaggle
                                    %span.badge.rounded-pill.bg-success Team Coursework Project
                                    %br
                                    %br
                                    %a.btn.btn-primary.stretched-link{:href => "chatbot"} View

                        .col-sm-3.mb-4
                            .card.h-100{:style => "width: 100%; position: relative; "}
                                -# Referenced from: https://www.freepik.com/free-photo/sports-equipment-around-apple-energy-bar_1657600.htm#page=3&query=fitness&position=3&from_view=search
                                %img.card-img-top{:alt => "Restaurant image", :src => "https://img.freepik.com/free-photo/sports-equipment-around-apple-energy-bar_23-2147750784.jpg?t=st=1653942434~exp=1653943034~hmac=e0ff8613060c4c0d1f76d633b6050d1c4f3c1182916a4efd847e87c3c52c6259&w=1380", :style => "width: 100%;height: 15vw;object-fit: cover;"}/
                                .card-body
                                    %h5.card-title
                                        Health Fitness Application
                                        %button.btn.btn-outline-dark.btn-sm{:type => "button", :onclick => "location.href='https://github.com/sian-burch/HealthApplication'", :target => "_blank"}
                                            %i.bi.bi-github
                                    %span.badge.rounded-pill.bg-success Team Coursework Project
                                    %br
                                    %br
                                    %a.btn.btn-primary.stretched-link{:href => "fitness_app"} View

        %p{:style => "color: white; margin: auto;width: 100%;padding: 10px;"}
        %a{:target => "_blank", :href => "https://www.freepik.com/free-photo/sports-equipment-around-apple-energy-bar_1657600.htm#page=3&query=fitness&position=3&from_view=search"} The cover image used in "Health Fitness Application" is created by @freepik
        %br
        %a{:target => "_blank", :href => "https://www.freepik.com/free-vector/dialog-with-chatbot-artificial-intelligence-reply-question-tech-support-instant-messaging-hotline-operator-ai-assistant-client-bot-consultant-vector-isolated-concept-metaphor-illustration_11668333.htm#query=chatbot&position=4&from_view=search"} The cover image used in "NLP Chatbot for Airline Travel Bookings" is created by @vectorjuice
        %br
        %a{:target => "_blank", :href => "https://www.freepik.com/free-photo/closeup-support-hands_2825706.htm#query=elderly&position=1&from_view=search"} The cover image used in "EHui-Smart Elderly Comprehensive Service Financial Cloud Platform Business Proposal" is created by @freepik
    